@using XerifeTv.CMS.Models.Abstractions;

@{
  var messageView = ViewData["Message"] as MessageView;

  ICollection<string[]> pagesView = [];
  pagesView.Add(["Home", "Index", "Dashboard", "fa-solid fa-chart-simple"]);
  pagesView.Add(["Movies", "Index", "Filmes", "fa-solid fa-film"]);
  pagesView.Add(["Series", "Index", "Séries", "fa-solid fa-video"]);
  pagesView.Add(["Channels", "Index", "Canais", "fa-solid fa-satellite-dish"]);

  if (User.IsInRole("admin"))
    pagesView.Add(["Users", "Index", "Usuários", "fa-solid fa-users"]);

  /* pagesView[x][0] => Controller view
   * pagesView[x][1] => Controller action view
   * pagesView[x][2] => Page name in side menu
   * pagesView[x][3] => Page icon in side menu
  */
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XerifeTv.CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XerifeTv.CMS.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div 
      class="w-25 alert" 
      role="alert" 
      id="message-box" 
      style="display: none; position: absolute; bottom: 0.5rem; right: 0.5rem;">
    </div>

    <div class="row flex-nowrap">

      @if (ViewData["title"]?.ToString() != "SignIn")
      {
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <div 
              class="d-flex align-items-center gap-2 mt-1 w-100" 
              style="padding: 0.3rem 0.5rem; border-radius: 0.5rem; background: #2e2e2e;">
              <img src="~/assets/profile.png" alt="profile" style="width: 1.75rem; height: 1.75rem;" />
              <span>@User.Identity?.Name</span>
            </div>

            <a href="/" class="d-flex align-items-center py-3 mt-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <img class="w-75 d-none d-md-block" src="~/assets/logo.png" alt="Xerife.TV CMS" />
            </a>

            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 mt-3 align-items-center align-items-sm-start" id="menu">
              @foreach (var pageView in pagesView)
              {
                <li class="nav-item py-2">
                  <a class="nav-link px-0 align-middle fs-5 @(ViewData["Title"]?.ToString() == pageView[2] ? "text-info" : "text-light")"
                     asp-controller="@pageView[0]"
                     asp-action="@pageView[1]">
                    <i class="@pageView[3]"></i> <span class="ms-1 d-none d-sm-inline">@pageView[2]</span>
                  </a>
                </li>
              }

              @if (!User.IsInRole("visitor")) 
              {
                <li class="nav-item py-2">
                  <a href="#submenu" data-bs-toggle="collapse" class="nav-link px-0 align-middle fs-5 text-light">
                    <i class="fa-solid fa-folder-open"></i> <span class="ms-1 d-none d-sm-inline">Documentação</span></a>
                    <ul class="collapse nav flex-column ms-3" id="submenu" data-bs-parent="#menu">
                      <li class="w-100 py-1">
                        <a 
                          class="nav-link px-0 align-middle text-light"
                          role="button"
                          href="/Api"
                          target="_blank">
                          <i class="fa-solid fa-link"></i> <span class="ms-1 d-none d-sm-inline">API de conteúdo</span>
                        </a>
                      </li>
                    </ul>
                </li>
              }
            </ul>

            <ul class="nav nav-pills mb-0 flex-column"> 
              <li class="nav-item py-2">
                <a 
                  class="nav-link px-0 align-middle fs-5 text-light"
                  role="button"
                  onclick="logout()">
                  <i class="fa-solid fa-right-from-bracket"></i> <span class="ms-1 d-none d-sm-inline">Sair</span>
                </a>
              </li>
            </ul>
            <hr>
          </div>
        </div>
      }
     
      <div class="col py-3" style="max-height:95vh; overflow:auto;">
        @RenderBody()
      </div>
    </div>
  </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
  <script>
    const messageBox = document.getElementById('message-box');
    
    switch ('@messageView?.Type') {
      case '@EMessageViewType.SUCCESS':
        messageBox.classList.add('alert-success');
        break;
      case '@EMessageViewType.ALERT':
        messageBox.classList.add('alert-warning');
        break;
      case '@EMessageViewType.ERROR':
        messageBox.classList.add('alert-danger');
        break;
    }

    if ('@messageView?.Message') {
      messageBox.textContent = '@messageView?.Message';
      messageBox.style.display = 'block';
      setTimeout(() => messageBox.style.display = 'none', 4000);
    }

    function logout() {
      if (confirm('Deseja realmente sair?'))
        location.replace('/Users/Logout');
    } 
  </script>
</body>
</html>
