@{
  ICollection<string[]> pagesView = [];
  pagesView.Add(["Home", "Index", "Dashboard", "fa-solid fa-chart-simple"]);
  pagesView.Add(["Movies", "Index", "Filmes", "fa-solid fa-film"]);
  pagesView.Add(["Series", "Index", "Séries", "fa-solid fa-video"]);
  pagesView.Add(["Channels", "Index", "Canais", "fa-solid fa-tv"]);

  /* pagesView[x][0] => Controller view
   * pagesView[x][1] => Controller action view
   * pagesView[x][2] => Page name in side menu
   * pagesView[x][3] => Page icon in side menu
  */
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XerifeTv.CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XerifeTv.CMS.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center py-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img class="w-75 d-none d-md-block" src="~/assets/logo.png" alt="Xerife.TV CMS" />
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 mt-3 align-items-center align-items-sm-start" id="menu">
            @foreach (var pageView in pagesView)
            {
              <li class="nav-item py-2">
                <a 
                  class="nav-link px-0 align-middle fs-5 @(ViewData["Title"]?.ToString() == pageView[2] ? "text-info" : "text-light")" 
                  asp-controller="@pageView[0]" 
                  asp-action="@pageView[1]">
                  <i class="@pageView[3]"></i> <span class="ms-1 d-none d-sm-inline">@pageView[2]</span>
                </a>
              </li>
            }
          </ul>
          <hr>
        </div>
      </div>
      <div class="col py-3" style="max-height:95vh; overflow:auto;">
        @RenderBody()
      </div>
    </div>
  </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/env.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
