@using XerifeTv.CMS.Models.Movie.Dtos.Response;

@model GetMovieResponseDto?

@{
  ViewData["Title"] = "Filmes";

  int[] parentalRatings = {0, 10, 12, 14, 16, 18};

  string[] streamFormats = {"mp4", "hls", "dash", "m3u8", "rtmp", "mpeg-ts", "WebM"};
}

<div class="container">
  <header>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center gap-4">
        <a asp-controller="Movies" asp-action="Index" class="fs-4">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </a>
        <span class="fs-3 fw-normal">
          @(Model is GetMovieResponseDto ? "Editar" : "Cadastrar") Filme
        </span>
      </div>

      @if (Model is null)
      {
        <div class="d-flex align-items-center">
          <form class="input-group input-group-sm" id="imdb-form">
            <span class="input-group-text">Imdb ID</span>
            <input type="text" name="imdbId" class="form-control shadow-none" required>
            <button class="btn btn-success shadow-none" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>  
      }
    </div>
    <hr />
  </header>
  
  <main>
    <form asp-controller="Movies" asp-action="@(Model is null ? "Create" : "Update")">
      <input type="hidden" name="id" value="@Model?.Id">

      <div class="row mb-3">
        <div class="col-6">
          <label for="title" class="form-label">Titulo</label>
          <input 
            type="text" 
            class="form-control" 
            id="title" 
            name="title" 
            placeholder="Digite aqui..." 
            value="@Model?.Title"
            required>
        </div>

        <div class="col-6">
          <label for="category" class="form-label">Categoria</label>
          <input 
            type="text" 
            class="form-control" 
            id="category" 
            name="category" 
            placeholder="ação, aventura, comédia..." 
            value="@Model?.Category"
            required>
        </div>
      </div>

      <div class="mb-3">
        <label for="synopsis" class="form-label">Sinopse</label>
        <textarea 
          id="synopsis" 
          name="synopsis" 
          class="form-control" 
          placeholder="Digite aqui..." 
          style="height: 100px"
          required>@Model?.Synopsis</textarea>
      </div>

      <div class="row mb-3">
        <div class="col-4">
          <label for="releaseYear" class="form-label">Ano de Lançamento</label>
          <input 
            type="text" 
            class="form-control" 
            id="releaseYear" 
            name="releaseYear" 
            placeholder="2020" 
            value="@Model?.ReleaseYear"
            required>
        </div>

        <div class="col-5 px-4">
          <label class="form-label">Classificação Indicativa</label>
          <div>
            @foreach (int year in parentalRatings)
            {
              <div class="form-check form-check-inline">
                @{
                  if (Model?.ParentalRating == year)
                  {
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="parentalRating"
                      id="parentalRating-@year"
                      value="@year"
                      checked
                      required>
                  }
                  else
                  {
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="parentalRating"
                      id="parentalRating-@year"
                      value="@year"
                      required>
                  }
                }

                <label class="form-check-label" for="parentalRating-@year">
                  @(year == 0 ? "L" : year)
                </label>
              </div>
            }
          </div>
        </div>

        <div class="col-3">
          <label for="review" class="form-label">Review</label>
          <input 
            type="text" 
            class="form-control" 
            id="review" 
            name="review" 
            placeholder="7,9"
            value="@Model?.Review" 
            required>
        </div>
      </div>  

      <div class="row mb-3">
        <div class="col-6">
          <label for="posterUrl" class="form-label">Poster (URL)</label>
          <input 
            type="text" 
            class="form-control" 
            id="posterUrl" 
            name="posterUrl" 
            placeholder="http://imagem.com/image.jpg" 
            value="@Model?.PosterUrl"
            required>
        </div>

        <div class="col-6">
          <label for="bannerUrl" class="form-label">Banner (URL)</label>
          <input 
            type="text" 
            class="form-control" 
            id="bannerUrl" 
            name="bannerUrl" 
            placeholder="http://imagem.com/image.jpg" 
            value="@Model?.BannerUrl"
            required>
        </div>
      </div>

      <div class="mb-3">
        <label for="videoUrl" class="form-label">Video (URL)</label>
        <input 
          type="text" 
          class="form-control" 
          id="videoUrl" 
          name="videoUrl" 
          placeholder="https://video.com/video.m3u8" 
          value="@Model?.Video?.Url"
          required>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <label for="videoStreamFormat" class="form-label">Stream Format</label>
          <select 
            class="form-select" 
            id="videoStreamFormat" 
            name="videoStreamFormat" 
            required>
            <option selected value="">Selecione uma opção</option>
            @foreach (string format in streamFormats)
            {
              if (Model?.Video?.StreamFormat == format)
              {
                <option value="@format" selected>@format</option>
              }
              else
              {
                <option value="@format">@format</option>
              }
            }
          </select>
        </div>  

        <div class="col-6">
          <label for="videoDuration" class="form-label">Duração(segundos)</label>
          <input 
            type="text" 
            class="form-control" 
            id="videoDuration" 
            name="videoDuration" 
            placeholder="3600" 
            value="@Model?.Video?.Duration"
            required>
        </div>
      </div>

      <div class="mb-4">
        <label for="videoSubtitle" class="form-label">Legenda (URL)</label>
        <input 
          type="text" 
          class="form-control" 
          id="videoSubtitle" 
          name="videoSubtitle" 
          placeholder="https://subtitle.com/vtts/video.vtt" 
          value="@Model?.Video?.Subtitle">
      </div>

      <hr />

      <div class="d-flex align-items-center justify-content-between">
        <button type="submit" class="btn btn-primary mt-2">
          @(Model is GetMovieResponseDto ? "Editar" : "Cadastrar")
        </button>

        @if (Model is GetMovieResponseDto)
        {
          <button type="button" class="btn btn-danger" onclick="deleteMovie()">
            <i class="fa fa-trash" aria-hidden="true"></i> Remover
          </button>
        }
      </div>
    </form>
  </main>
</div>

@section scripts {
  <script defer>
    async function getMovieByTmdb(imdbId) {
      const response = await fetch(`/Movies/GetByImdbId?id=${imdbId}`);
      const data = await response.json();
      return JSON.parse(data.result);
    }

    $('#imdb-form').submit(async (e) => {
      e.preventDefault();

      const formData = new FormData(e.target);
      const { imdbId } = Object.fromEntries(formData.entries());

      const response = await getMovieByTmdb(imdbId);
      if (!response) return;

      $('#title').val(response.title);
      $('#category').val(response.genres[0]?.name?.toLowerCase());
      $('#synopsis').val(response.overview);
      $('#releaseYear').val(response.release_date.split('-')[0]);
      $('#review').val(response.vote_average.toString());
      $('#posterUrl').val(`https://image.tmdb.org/t/p/original${response.poster_path}`);
      $('#bannerUrl').val(`https://image.tmdb.org/t/p/original${response.backdrop_path}`);
      $('#parentalRating-18').attr('checked', Boolean(response.adult));
    });

    $('#videoDuration').keyup(e => 
      $('#videoDuration').val(convertHHmmToSeconds(e.target.value)));

    function deleteMovie() {
      if (!confirm('Deseja realmente remover o filme?')) return;
      location.href = '/Movies/Delete/@Model?.Id'
    }
  </script>
}