@using XerifeTv.CMS.Models.Channel.Dtos.Response;

@model GetChannelResponseDto?

@{
  ViewData["Title"] = "Canais";

  int[] parentalRatings = {0, 10, 12, 14, 16, 18};

  string[] streamFormats = {"hls", "dash", "m3u8"};
}

<div class="container">
  <header>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center gap-4">
        <a asp-controller="Channels" asp-action="Index" class="fs-4">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </a>
        <span class="fs-3 fw-normal">
          @(Model is GetChannelResponseDto ? "Editar" : "Cadastrar") Canal
        </span>
      </div>
    </div>
    <hr />
  </header>
  
  <main>
    <form asp-controller="Channels" asp-action="@(Model is null ? "Create" : "Update")">
      <input type="hidden" name="id" value="@Model?.Id">

      <div class="row mb-3">
        <div class="col-6">
          <label for="title" class="form-label">Titulo</label>
          <input 
            type="text" 
            class="form-control" 
            id="title" 
            name="title" 
            placeholder="Digite aqui..." 
            value="@Model?.Title"
            required>
        </div>

        <div class="col-6">
          <label for="category" class="form-label">Categoria</label>
          <input 
            type="text" 
            class="form-control" 
            id="category" 
            name="category" 
            placeholder="filmes, documentário, noticias..." 
            value="@Model?.Category"
            required>
        </div>
      </div> 

      <div class="row mb-3">
        <div class="col-12">
          <label for="logoUrl" class="form-label">Logo (URL)</label>
          <input 
            type="text" 
            class="form-control" 
            id="logoUrl" 
            name="logoUrl" 
            placeholder="http://imagem.com/image.jpg" 
            value="@Model?.LogoUrl"
            required>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-6">
          <label for="videoUrl" class="form-label">Video (URL)</label>
          <input 
            type="text" 
            class="form-control" 
            id="videoUrl" 
            name="videoUrl" 
            placeholder="http://video.com/video.m3u8" 
            value="@Model?.Video?.Url"
            required>
        </div>

        <div class="col-6">
          <label for="videoStreamFormat" class="form-label">Stream Format</label>
          <select 
            class="form-select" 
            id="videoStreamFormat" 
            name="videoStreamFormat" 
            required>
            <option selected value="">Selecione uma opção</option>
            @foreach (string format in streamFormats)
            {
              if (Model?.Video?.StreamFormat == format)
              {
                <option value="@format" selected>@format</option>
              }
              else
              {
                <option value="@format">@format</option>
              }
            }
          </select>
        </div>  

        <input 
          type="hidden" 
          class="form-control" 
          id="videoDuration" 
          name="videoDuration" 
          placeholder="0" 
          value="0">
      </div>

      <hr />

      <div class="d-flex align-items-center justify-content-between">
        <button type="submit" class="btn btn-primary mt-2">
          @(Model is GetChannelResponseDto ? "Editar" : "Cadastrar")
        </button>

        @if (Model is GetChannelResponseDto)
        {
          <button type="button" class="btn btn-danger" onclick="deleteChannel()">
            <i class="fa fa-trash" aria-hidden="true"></i> Remover
          </button>
        }
      </div>
    </form>
  </main>
</div>

@section scripts {
  <script defer>
    function deleteChannel() {
      if (!confirm('Deseja realmente remover o canal?')) return;
      location.href = '/Channels/Delete/@Model?.Id'
    }
  </script>
}