@using XerifeTv.CMS.Models.Series;

@model Episode?;

@{
  string[] streamFormats = {"mp4", "hls", "dash", "m3u8", "rtmp", "mpeg-ts", "WebM"};
}

<div 
  class="modal fade" 
  id="episodeFormModal-@Model?.Id" 
  data-bs-backdrop="static" 
  data-bs-keyboard="false" 
  tabindex="-1"
  aria-labelledby="episodeFormModal-@Model?.Id-Label"
  aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-centered">
    <form 
      class="modal-content" 
      asp-controller="Series"
      asp-action="@(string.IsNullOrEmpty(Model?.Id) ? "CreateEpisode" : "UpdateEpisode")">

      <input type="hidden" name="serieId" value="@ViewBag.SerieId" />
      <input type="hidden" name="id" value="@Model?.Id" />

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="episodeFormModal-@Model?.Id-Label">
          @(string.IsNullOrEmpty(Model?.Id) ? "Cadastrar" : "Editar") Episódio
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-6">
            <label for="season" class="form-label">Temporada</label>
            <select 
              class="form-select" 
              id="season" 
              name="season" 
              required>
              <option selected value="">Selecione uma opção</option>
              @for (var i=1; i<=(ViewBag.NumberSeasons ?? 1); i++) 
              {
                if (i == Model?.Season)
                {
                  <option value="@i" selected>@i ª Temporada</option>
                }
                else
                {
                  <option value="@i">@i ª Temporada</option>
                }
              }
            </select>
          </div>

          <div class="col-6">
            <label for="number" class="form-label">Episódio</label>
            <input 
              type="text" 
              class="form-control" 
              id="number" 
              name="number" 
              placeholder="18" 
              value="@(Model?.Number > 0 ? Model?.Number : "")"
              required>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label for="title" class="form-label">Titulo</label>
            <input 
              type="text" 
              class="form-control" 
              id="title" 
              name="title" 
              placeholder="Digite aqui..." 
              value="@Model?.Title"
              required>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label for="bannerUrl" class="form-label">Banner (URL)</label>
            <input 
              type="text" 
              class="form-control" 
              id="bannerUrl" 
              name="bannerUrl" 
              placeholder="http://imagem.com/image.jpg" 
              value="@Model?.BannerUrl"
              required>
          </div>
        </div>

        <div class="mb-2">
          <label for="videoUrl" class="form-label">Video (URL)</label>
          <input 
            type="text" 
            class="form-control" 
            id="videoUrl" 
            name="videoUrl" 
            placeholder="http://video.com/video.m3u8"
            value="@Model?.Video?.Url"
            required>
        </div>

        <div class="row mb-2">
          <div class="col-6">
            <label for="videoStreamFormat" class="form-label">Stream Format</label>
            <select 
              class="form-select" 
              id="videoStreamFormat" 
              name="videoStreamFormat" 
              required>
              <option selected value="">Selecione uma opção</option>
              @foreach (string format in streamFormats)
              {
                if (format == Model?.Video?.StreamFormat)
                {
                  <option value="@format" selected>@format</option>
                }
                else
                {
                  <option value="@format">@format</option>
                }
              }
            </select>
          </div>  

          <div class="col-6">
            <label for="videoDuration" class="form-label">Duração(segundos)</label>
            <input 
              type="text" 
              class="form-control duration" 
              id="videoDuration" 
              name="videoDuration" 
              placeholder="3600" 
              value="@Model?.Video?.Duration"
              required>
          </div>
        </div>

        <div>
          <label for="videoSubtitle" class="form-label">Legenda (URL)</label>
          
          <div class="input-group">
            <input
              type="text"
              class="form-control videoSubtitle"
              id="videoSubtitle"
              name="videoSubtitle"
              placeholder="http://video.com/subtitles/video.vtt"
              value="@Model?.Video?.Subtitle"/>
            
            <button
              class="btn btn-success btn-subtitle-file"
              type="button"
              onclick="$('#subtitle-file').click()">
              <i class="fa-solid fa-cloud-arrow-up"></i>
            </button>
          </div>
          
        </div>
      </div>
      
      <div class="modal-footer d-flex justify-content-between">
        @if (!string.IsNullOrEmpty(Model?.Id))
        {
          <button type="button" class="btn btn-danger" onclick="remove('@Model?.Id')">
            Excluir
          </button>
        }

        <button type="submit" class="btn btn-primary">
          @(string.IsNullOrEmpty(Model?.Id) ? "Cadastrar" : "Editar")
        </button>
      </div>
    </form>
  </div>
</div>