@using XerifeTv.CMS.Models.Series;
@using XerifeTv.CMS.Models.Series.Dtos.Response;
@using XerifeTv.CMS.Helpers;

@model GetEpisodesResponseDto;

@{
  ViewData["Title"] = "Séries";
  var episodeEmpty = new Episode { Id = string.Empty };
}

<div class="container">
  @await Html.PartialAsync("_VideoModal")
  @await Html.PartialAsync("_EpisodeFormModal", episodeEmpty)

  <header>
    <div class="d-flex align-items-center justify-content-between gap-4">
      <div class="d-flex align-items-center gap-4">
        <a asp-controller="Series" asp-action="Index" class="fs-4">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </a>
        <span class="fs-3 fw-normal">Episódios (@Model.SerieTitle)</span>
      </div>

      @if (!User.IsInRole("visitor"))
      {
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#episodeFormModal-@episodeEmpty.Id">
          <i class="fa-solid fa-plus"></i> Cadastrar
        </button>
      }
    </div>
    <hr />
  </header>

  <div class="row mb-4 input-group input-group-sm">
    <select 
      class="form-select shadow-none" 
      name="seasonFilter" 
      id="seasonFilter" 
      style="max-width: 20%">

      @for (var i = 1; i <= (ViewBag.NumberSeasons ?? 1); i++)
      {
        if (i == ViewBag.SeasonFilter)
        {
          <option value="@i" selected>@i ª Temporada</option>
        }
        else
        {
          <option value="@i">@i ª Temporada</option>
        }
      }
    </select>
  </div>

  <div class="row gap-2">
    @foreach (var episode in Model.Episodes)
    {
      <div class="card mb-3 col-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="@episode.BannerUrl" class="img-fluid rounded-start h-100" alt="@episode.Title">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">@episode.Title</h5>
              <p class="card-text">
                @DateTimeHelper.ConvertSecondsToHHmm(episode.Video?.Duration ?? 0)
              </p>
              <p class="card-text">
                <small class="text-body-secondary">
                  Temporada @episode.Season | Episódio @episode.Number
                </small>
              </p>

              @if (!User.IsInRole("visitor"))
              {
                <a class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#episodeFormModal-@episode.Id">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              }

              <a 
                class="btn btn-sm btn-secondary" 
                data-bs-toggle="modal" 
                data-bs-target="#videoModal"
                data-bs-title="@episode.Title"
                data-bs-banner="@episode.BannerUrl"
                data-bs-video-url="@episode.Video?.Url"
                data-bs-video-format="@episode.Video?.StreamFormat"
                data-bs-video-subtitle="@episode.Video?.Subtitle">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      @await Html.PartialAsync("_EpisodeFormModal", episode)
    }

    @if (Model.Episodes.Count() == 0)
    {
      <p>Nenhum registro encontrado.</p>
    }
  </div>
</div>

@section scripts {
  <script defer>
    $('#seasonFilter').change(e =>
      location.href = `/Series/Episodes/@Model.SerieId?seasonFilter=${e.target.value}`)

    $('#videoDuration').keyup(e => 
      $('#videoDuration').val(convertHHmmToSeconds(e.target.value)))

    function remove(id) {
      if (!confirm('Deseja realmento excluir o episódio?')) return;
      location.href = `/Series/DeleteEpisode?serieId=@Model.SerieId&id=${id}`;
    }
  </script>
}