@using XerifeTv.CMS.Models.Series.Dtos.Response;
@using XerifeTv.CMS.Models.Series.Enums;

@model IEnumerable<GetSeriesResponseDto>;

@{
  ViewData["Title"] = "Séries";

  ICollection<string[]> filters = [];
  filters.Add([ESeriesSearchFilter.TITLE.ToString().ToLower(), "Titulo"]);
  filters.Add([ESeriesSearchFilter.CATEGORY.ToString().ToLower(), "Categoria"]);
}

<div class="container">
  <header>
    <div class="d-flex align-items-center justify-content-between gap-4">
      <span class="fs-3 fw-normal">Séries</span>

      @if (!User.IsInRole("visitor"))
      {
        <a class="btn btn-primary" asp-controller="Series" asp-action="Form">
          <i class="fa-solid fa-plus"></i> Cadastrar
        </a>
      }
    </div>
    <hr />
  </header>

  <div class="row mb-3 justify-content-between">
    <a class="col-1 fs-5" role="button" asp-controller="Series" asp-action="Index">
      <i class="fa-solid fa-rotate"></i>
    </a>

    <div class="col-5">
      <form 
        class="input-group input-group-sm" 
        asp-controller="Series" 
        asp-action="Index" 
        method="get">

        <input 
          type="hidden" 
          name="currentPage" 
          value="@(ViewBag.Filter is not null ? ViewBag.CurrentPage : 1)"/>

        <select class="form-select shadow-none" name="filter">
          @foreach (var filter in filters)
          {
            if (filter[0].Equals(ViewBag.Filter))
            {
              <option value="@filter[0]" selected>@filter[1]</option>
            }
            else
            {
              <option value="@filter[0]">@filter[1]</option>   
            }
          }
        </select>

        <input 
          type="text" 
          name="search" 
          class="form-control shadow-none" 
          value="@ViewBag.Search"
          required>
        <button class="btn btn-success shadow-none" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>

  <div class="row gap-3">
    @foreach (var serie in Model)
    {
      <div class="card col-2 pt-1">
        <img 
          src="@serie.PosterUrl"
          onerror="this.onerror=null; this.src='/assets/poster_default.jpg';"
          class="card-img-top" 
          alt="@serie.Title" 
          loading="lazy" 
          style="height: 14rem;">
        
        <div class="card-body">
          <h5 class="card-title text-nowrap overflow-hidden text-truncate">@serie.Title</h5>
          <p class="card-text">@serie.Category</p>

          <div class="d-flex gap-1">
            <a class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#seriesDetailsModal-@serie.Id">
              <i class="fa-solid fa-eye"></i>
            </a>

            @if (!User.IsInRole("visitor"))
            {
              <a 
                class="btn btn-sm btn-primary" 
                asp-controller="Series" 
                asp-action="Form" 
                asp-route-id="@serie.Id">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            }

            <a 
              class="btn btn-sm btn-info" 
              asp-controller="Series" 
              asp-action="Episodes" 
              asp-route-id="@serie.Id">
              <i class="fa-solid fa-list"></i>
            </a>
          </div>
        </div>
      </div>

      @await Html.PartialAsync("_DetailsModal", serie)
    }

    @if (Model?.Count() <= 0)
    {
      <p>Nenhum registro encontrado.</p>
    }
  </div>

  @if (ViewBag.TotalPages > 1)
  {
    <nav class="mt-5">
      <ul class="pagination justify-content-center">
        <li class="page-item @(!ViewBag.HasPrevPage ? "disabled" : "")">
          <a 
            class="page-link" 
            aria-label="Previous" 
            role="button"
            asp-controller="Series"
            asp-action="Index"
            asp-route-filter="@ViewBag.Filter"
            asp-route-search="@ViewBag.Search"
            asp-route-currentPage="@(ViewBag.CurrentPage - 1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
           <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
              <a 
                class="page-link" 
                asp-controller="Series" 
                asp-action="Index" 
                asp-route-filter="@ViewBag.Filter"
                asp-route-search="@ViewBag.Search"
                asp-route-currentPage="@i">
                @i
               </a>
           </li>  
        }

        <li class="page-item @(!ViewBag.HasNextPage ? "disabled" : "")">
          <a 
            class="page-link" 
            aria-label="Next" 
            role="button"
            asp-controller="Series"
            asp-action="Index"
            asp-route-filter="@ViewBag.Filter"
            asp-route-search="@ViewBag.Search"
            asp-route-currentPage="@(ViewBag.CurrentPage + 1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  }
</div>
